# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
/coverage/
.phpunit.cache/

# Twig cache
/cache/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Logs
*.log
/logs/

# Environment
.env
.env.local

# Docker volumes
/mysql-data/

#Agent files
AGENTS.md
ToDO.md

# Pdf files
Projet_clean_archi.pdf
