<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force Apache à passer le header Authorization à PHP
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

    # Si le fichier ou dossier demandé n'existe pas physiquement...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # ... alors on redirige tout vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
